<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from demo.ajufbox.com/leon/home-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Apr 2025 17:03:38 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="description" content="Aminul Islam - Full Stack Developer, IT Specialist, and Web Development Expert.">
  <meta name="author" content="aminul islam">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Md Aminul Islam - Full Stack Developer</title>
  <!-- Favicon -->
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <!-- /Favicon -->

  <!-- STYLES -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/splitting.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!-- /STYLES -->

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Md Aminul Islam",
      "alternateName": "Aminul Islam",
      "description": "Full Stack Developer with 5+ years of experience in building fast, secure, and scalable web solutions using Next.js, Node.js, Vue.js, and cloud platforms.",
      "url": "https://aimehedi.website",
      "image": "https://aimehedi.website/aimehedi.jpg",
      "jobTitle": "Full Stack Developer",
      "worksFor": {
        "@type": "Organization",
        "name": "Pixmatech Ltd"
      },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "Sonargaon University",
        "sameAs": "https://su.edu.bd/" 
      },
      "sameAs": [
        "https://github.com/ai-mehedi",
        "https://linkedin.com/in/mdaminulislam8875",
        "https://www.pinterest.com/aimehedi/", 
        "https://medium.com/@aimehedi",
        "https://www.upwork.com/freelancers/~01ba43904160df6feb?mp_source=share",
        "https://www.fiverr.com/aimehedidev",
        "https://www.facebook.com/aimehedi75/",
      ],
      "knowsAbout": [
        "Next.js", "Node.js", "React.js", "Vue.js", "NestJS",
        "Web Development", "Cloud Platforms", "Docker", "PostgreSQL"
      ],
      "nationality": "Bangladeshi",
      "email": "mailto:mdaminulislamdev23@gmail.com"
    }
    </script>
    


</head>

<body id="home" class="light">
 

  <!-- Floating Social Buttons -->
  <div class="social-buttons">
    <!-- Facebook -->
    <a href="https://www.facebook.com/aimehedi75/" target="_blank" title="Facebook" class="facebook">
      <!-- SVG Facebook Icon -->
      <svg viewBox="0 0 56.693 56.693" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M28.347 5.157c-13.6 0-24.625 11.027-24.625 24.625 0 13.6 11.025 24.623 24.625 24.623s24.625-11.023 24.625-24.623c0-13.598-11.026-24.625-24.625-24.625zm6.517 24.522H30.6v15.207h-6.32V29.679h-3.006V24.31h3.006v-3.479c0-2.49 1.182-6.377 6.379-6.377l4.68.018v5.215h-3.398c-.555 0-1.34.277-1.34 1.461v3.163h4.818l-.555 5.368z" fill="#1877f2" class="fill-000000"></path></svg>    </a>

    <!-- LinkedIn -->
    <a href="https://www.upwork.com/freelancers/aimehedi" target="_blank" title="upwork" class="linkedin">
    
      <svg viewBox="0 0 56.7 56.7" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 56.7 56.7"><path d="M38.8 24.6c-2.8 0-3.7 2.7-3.9 4.3v.1l-.4 1.5c1.2 1 2.7 1.7 4.2 1.7 2 0 3.8-1.7 3.9-3.9 0-2-1.7-3.7-3.8-3.7z" fill="#14a800" class="fill-000000"></path><path d="M28.9 3.7C15.2 3.7 4.1 14.8 4.1 28.5c0 13.7 11.1 24.8 24.8 24.8 13.7 0 24.8-11.1 24.8-24.8 0-13.7-11.1-24.8-24.8-24.8zm9.9 32.4c-2 0-3.7-.6-5.2-1.5l-1.7 8H28l2.4-11c-1-1.4-2-3-2.7-4.5v1.7c0 4.1-3.3 7.4-7.3 7.4s-7.3-3.3-7.3-7.4v-10h3.8v10c0 2 1.6 3.6 3.6 3.6s3.6-1.6 3.6-3.6v-10h3.8c.8 2.5 2.1 5.5 3.8 8.2 1-3.8 3.8-6.1 7.3-6.1 4.1 0 7.5 3.4 7.5 7.5-.2 4.3-3.6 7.7-7.7 7.7z" fill="#14a800" class="fill-000000"></path></svg>
    </a>

    <a href="https://www.linkedin.com/in/mdaminulislam8875/" target="_blank" title="LinkedIn" class="linkedin">
    
      <svg viewBox="0 0 56.693 56.693" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M28.347 5.155c-13.6 0-24.625 11.025-24.625 24.625 0 13.602 11.025 24.625 24.625 24.625 13.598 0 24.623-11.023 24.623-24.625 0-13.599-11.026-24.625-24.623-24.625zm13.715 36.586c0 1.096-.91 1.982-2.031 1.982H16.613c-1.123 0-2.031-.887-2.031-1.982V18.052c0-1.094.908-1.982 2.031-1.982H40.03c1.121 0 2.031.889 2.031 1.982v23.689z" fill="#0072b1" class="fill-000000"></path><path d="M33.099 26.441c-2.201 0-3.188 1.209-3.74 2.061v.041h-.027a.223.223 0 0 0 .027-.041v-1.768h-4.15c.055 1.17 0 12.484 0 12.484h4.15v-6.973c0-.375.027-.744.137-1.012.301-.744.984-1.52 2.129-1.52 1.504 0 2.104 1.146 2.104 2.824v6.68h4.15V32.06c-.001-3.836-2.05-5.619-4.78-5.619zM20.864 20.712c-1.419 0-2.349.934-2.349 2.159 0 1.197.9 2.158 2.294 2.158h.027c1.447 0 2.348-.961 2.348-2.158-.027-1.225-.9-2.159-2.32-2.159zM18.762 26.734h4.151v12.484h-4.151z" fill="#0072b1" class="fill-000000"></path></svg>    </a>

    <!-- WhatsApp -->
    <a href="https://wa.me/8801723198875" target="_blank" title="WhatsApp" class="whatsapp">
      <!-- SVG WhatsApp Icon -->
      <svg viewBox="0 0 56.693 56.693" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 56.693 56.693"><path d="M46.38 10.714C41.73 6.057 35.544 3.492 28.954 3.489c-13.579 0-24.63 11.05-24.636 24.633a24.589 24.589 0 0 0 3.289 12.316L4.112 53.204l13.06-3.426a24.614 24.614 0 0 0 11.772 2.999h.01c13.577 0 24.63-11.052 24.635-24.635.002-6.582-2.558-12.772-7.209-17.428zM28.954 48.616h-.009a20.445 20.445 0 0 1-10.421-2.854l-.748-.444-7.75 2.033 2.07-7.555-.488-.775a20.427 20.427 0 0 1-3.13-10.897c.004-11.29 9.19-20.474 20.484-20.474a20.336 20.336 0 0 1 14.476 6.005 20.352 20.352 0 0 1 5.991 14.485c-.004 11.29-9.19 20.476-20.475 20.476z" fill-rule="evenodd" clip-rule="evenodd" fill="#075e54" class="fill-000000"></path><path d="M40.185 33.281c-.615-.308-3.642-1.797-4.206-2.003-.564-.205-.975-.308-1.385.308-.41.617-1.59 2.003-1.949 2.414-.359.41-.718.462-1.334.154-.615-.308-2.599-.958-4.95-3.055-1.83-1.632-3.065-3.648-3.424-4.264-.36-.617-.038-.95.27-1.257.277-.276.615-.719.923-1.078.308-.36.41-.616.616-1.027.205-.41.102-.77-.052-1.078-.153-.308-1.384-3.338-1.897-4.57-.5-1.2-1.008-1.038-1.385-1.057-.359-.018-.77-.022-1.18-.022s-1.077.154-1.642.77c-.564.616-2.154 2.106-2.154 5.135 0 3.03 2.206 5.957 2.513 6.368.308.41 4.341 6.628 10.516 9.294a35.341 35.341 0 0 0 3.509 1.297c1.474.469 2.816.402 3.877.244 1.183-.177 3.642-1.49 4.155-2.927.513-1.438.513-2.67.359-2.927-.154-.257-.564-.41-1.18-.719z" fill-rule="evenodd" clip-rule="evenodd" fill="#075e54" class="fill-000000"></path></svg>
    </a>

    <!-- GitHub -->
    <a href="https://github.com/ai-mehedi" target="_blank" title="GitHub" class="github">
      <!-- SVG GitHub Icon -->
      <svg viewBox="-1163 1657.697 56.693 56.693" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M-1134.66 1662.916c-13.6 0-24.63 11.027-24.63 24.63 0 10.882 7.057 20.115 16.844 23.371 1.23.228 1.683-.534 1.683-1.184 0-.587-.023-2.528-.034-4.586-6.852 1.49-8.298-2.906-8.298-2.906-1.12-2.847-2.734-3.604-2.734-3.604-2.235-1.529.168-1.497.168-1.497 2.473.173 3.776 2.538 3.776 2.538 2.196 3.765 5.761 2.677 7.167 2.047.221-1.591.86-2.678 1.564-3.293-5.47-.623-11.222-2.735-11.222-12.172 0-2.69.962-4.886 2.538-6.611-.256-.62-1.099-3.126.239-6.519 0 0 2.068-.661 6.774 2.525 1.965-.545 4.072-.82 6.165-.829 2.093.01 4.202.284 6.17.83 4.701-3.187 6.767-2.526 6.767-2.526 1.34 3.393.497 5.898.241 6.519 1.58 1.725 2.535 3.922 2.535 6.61 0 9.46-5.762 11.544-11.246 12.153.883.765 1.67 2.264 1.67 4.561 0 3.296-.028 5.948-.028 6.76 0 .655.443 1.423 1.691 1.181 9.782-3.26 16.83-12.49 16.83-23.368 0-13.603-11.027-24.63-24.63-24.63z" fill-rule="evenodd" fill="#000000" class="fill-000000"></path><path d="M-1149.961 1698.28c-.054.122-.247.159-.422.075-.18-.08-.28-.248-.221-.37.053-.126.245-.161.424-.077.179.08.28.249.219.371zM-1148.963 1699.392c-.118.109-.348.058-.504-.114-.16-.172-.19-.401-.071-.512.12-.108.343-.057.505.114.16.174.192.402.07.512zM-1147.992 1700.81c-.151.106-.398.007-.55-.212-.152-.219-.152-.482.003-.587.152-.105.396-.01.55.207.15.223.15.485-.003.592zM-1146.662 1702.181c-.135.15-.423.109-.633-.094-.215-.199-.275-.48-.14-.63.137-.149.426-.107.638.095.214.198.279.482.135.63zM-1144.826 1702.977c-.06.193-.337.28-.616.198-.279-.084-.46-.31-.405-.505.058-.194.337-.285.617-.198.279.084.461.309.404.505zM-1142.81 1703.124c.006.203-.23.372-.523.375-.295.007-.533-.157-.536-.357 0-.205.23-.372.525-.377.293-.006.533.158.533.36zM-1140.935 1702.805c.035.198-.169.402-.46.456-.285.053-.55-.07-.586-.267-.036-.203.171-.406.457-.459.291-.05.552.069.589.27zm0 0" fill="#000000" class="fill-000000"></path></svg>
    </a>
  </div>

  <header class="site-header sticky wow fadeInDown">
    <div class="container">
      <div class="site-header-container">
        <!-- Logo -->
        <div class="site-header-logo">
          <a href="/" class="logo">
            <img src="/assets/images/logo.png" alt="Your Logo" width="120" height="34">
          </a>
        </div>
        <!-- /Logo -->

        <!-- Menu -->
        <div class="mobile-menu d-lg-none">
          <button class="js-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <nav class="site-menu text-uppercase">
          <ul>
            <li><a href="#home" class="one-page-link active">Home</a></li>
            <li><a href="#service" class="one-page-link">Services</a></li>
            <li><a href="#about" class="one-page-link">About Me</a></li>
            <li><a href="#portfolio" class="one-page-link">Portfolio</a></li>
            <li><a href="#contact" class="one-page-link">Contact</a></li>
          </ul>
        </nav>
        <!-- /Menu -->

        <!-- Button Hire Me -->
        <div class="d-none d-xl-flex site-menu-right">
          <a href="#contact" class="btn btn-md one-page-link">
            Hire Me <i class="fa fa-chevron-right ms-1 fs-sm"></i>
          </a>
        </div>
        <!-- Button Hire Me -->
      </div>
    </div>

  </header>

  <main>
    <!-- Home -->
    <section id="home">
      <div class="container">
        <div class="row pt-5 pb-5 align-items-center">
          <!-- Home Image -->
          <div class="col-lg-6 order-lg-2">
            <div class="img-wrap-s2">
              <div class="img-wrap-s2-inner">
                <div class="img-wrap-s2-circle wow fadeInRight"></div>
                <img src="/assets/images/profile-2.jpg" alt="" class="d-inline-block wow fadeScaleOutIn">
              </div>
            </div>
          </div>
          <!-- /Home Image -->

          <!-- Home Content Text -->
          <div class="col-lg-6 position-relative">
            <div class="bg-blurred-red-1"></div>
            <div>
              <h1 class="home-title-s1 wow fadeInUp" data-wow-delay="0.1s">
                <span class="subtitle text-primary-1">
                  Hello
                  I’m</span>
                <br>
                <span class="stroke-text-bolder fw-900 d-inline-block mb-4">Aminul Islam</span>
              </h1>
              <h2 class="home-subtitle wow fadeInUp" data-wow-delay="0.2s">
                I’m a
                <span class="d-text d-block d-sm-inline-block">
                  <span class="typed-strings d-none">
                    <!-- Add typed words here -->
                    <span>Full Stack Developer</span>
                    <span>IT Specialist</span>
                  </span>
                  <span class="text-primary-1">
                    <span class="typed"></span>
                  </span>
                </span>
              </h2>

              <!-- Home hero text -->
              <div class="home-hero-text wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1s">
                Passionate Full Stack Developer with 5+ years of experience crafting modern, user-friendly web applications.
                Skilled in Next.js, Node.js, PostgreSQL, and building scalable solutions.
                Dedicated to delivering high-quality projects that blend creativity and performance
              </div>
              <!-- /Home hero text -->

              <!-- Button Download CV -->
              <div class="d-flex flex-wrap gap-4">
                <a id="downloadCvBtn" href="#" class="btn btn-lg me-2 mb-2 mb-sm-0 wow fadeInLeft" data-wow-delay="0.1s">
                  Download CV <i class="fa fa-download ms-2"></i>
                </a>

              </div>
              <!-- /Button Download Resume -->
            </div>
          </div>
          <!-- /Home Content Text -->
        </div>
      </div>
    </section>
    <!-- /Home -->

    <!-- Service -->
    <section class="page-section position-relative" id="service">
      <div class="bg-blurred-red"></div>
      <div class="bg-blurred-purple"></div>
      <div class="container position-relative">
        <div class="row page-section-title">
          <div class="col-lg-4 position-relative">
            <h3 class="section-title-s3 stroke-text-bolder wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
              My
              Service
            </h3>
          </div>
          <div class="col-lg-8">
            <h2 class="section-title-s4 wow zoom-in" data-splitting="chars">Transforming
              Ideas into Seamless
              Digital
              Experiences</h2>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-4">
            <!-- Service Box -->
            <div class="service-box-s1 wow fadeInLeft">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M19.5,1H4.5C2.019,1,0,3.019,0,5.5V14.5c0,2.481,2.019,4.5,4.5,4.5h7v3H7c-.276,0-.5,.224-.5,.5s.224,.5,.5,.5h10c.276,0,.5-.224,.5-.5s-.224-.5-.5-.5h-4.5v-3h7c2.481,0,4.5-2.019,4.5-4.5V5.5c0-2.481-2.019-4.5-4.5-4.5Zm3.5,13.5c0,1.93-1.57,3.5-3.5,3.5H4.5c-1.93,0-3.5-1.57-3.5-3.5V5.5c0-1.93,1.57-3.5,3.5-3.5h15c1.93,0,3.5,1.57,3.5,3.5V14.5Zm-4.732-6.266c.975,.975,.975,2.562,0,3.536l-3.083,3.083c-.098,.098-.226,.146-.354,.146s-.256-.049-.354-.146c-.195-.195-.195-.512,0-.707l3.083-3.083c.585-.585,.585-1.537,0-2.122l-3.088-3.088c-.195-.195-.195-.512,0-.707s.512-.195,.707,0l3.088,3.088Zm-11.828,.707c-.585,.585-.585,1.537,0,2.122l3.083,3.083c.195,.195,.195,.512,0,.707-.098,.098-.226,.146-.354,.146s-.256-.049-.354-.146l-3.083-3.083c-.975-.975-.975-2.562,0-3.536l3.088-3.088c.195-.195,.512-.195,.707,0s.195,.512,0,.707l-3.088,3.088Z" />
                </svg>

              </div>
              <h3 class="title">Web Development</h3>
              <div class="descriptiDevelopmenton">Building fast, responsive, and SEO-friendly websites tailored to your business needs using modern technologies like Next.js and Node.js.</div>
            </div>
            <!-- /Service Box -->
          </div>

          <div class="col-lg-4">
            <!-- Service Box -->
            <div class="service-box-s1 wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="m16.5,0H7.5C5.019,0,3,2.019,3,4.5v15c0,2.481,2.019,4.5,4.5,4.5h9c2.481,0,4.5-2.019,4.5-4.5V4.5c0-2.481-2.019-4.5-4.5-4.5Zm3.5,19.5c0,1.93-1.57,3.5-3.5,3.5H7.5c-1.93,0-3.5-1.57-3.5-3.5V4.5c0-1.93,1.57-3.5,3.5-3.5h9c1.93,0,3.5,1.57,3.5,3.5v15Zm-6,1c0,.276-.224.5-.5.5h-3c-.276,0-.5-.224-.5-.5s.224-.5.5-.5h3c.276,0,.5.224.5.5Z" />
                </svg>
              </div>
              <h3 class="title"> Application Development</h3>
              <div class="description">Complete end-to-end development of scalable web apps with seamless frontend and backend integration using PostgreSQL, Express, and React.</div>
            </div>
            <!-- /Service Box -->
          </div>
          <div class="col-lg-4">
            <!-- Service Box -->
            <div class="service-box-s1 wow fadeInLeft" data-wow-delay="0.4s">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                </svg>

              </div>
              <h3 class="title">API Development & Integration</h3>
              <div class="description">Designing robust, secure APIs and integrating third-party services to enhance functionality and user experience.

              </div>
            </div>
            <!-- /Service Box -->
          </div>
          <div class="col-lg-4">
            <!-- Service Box -->
            <div class="service-box-s1 wow fadeInLeft" data-wow-delay="0.4s">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="m24,8.5v7c0,2.481-2.019,4.5-4.5,4.5h-7v3h3.5c.276,0,.5.224.5.5s-.224.5-.5.5h-8c-.276,0-.5-.224-.5-.5s.224-.5.5-.5h3.5v-3h-7c-2.481,0-4.5-2.019-4.5-4.5V6.5C0,4.019,2.019,2,4.5,2h10c.276,0,.5.224.5.5s-.224.5-.5.5H4.5c-1.93,0-3.5,1.57-3.5,3.5v9c0,1.93,1.57,3.5,3.5,3.5h15c1.93,0,3.5-1.57,3.5-3.5v-7c0-.276.224-.5.5-.5s.5.224.5.5Zm-12.758,1.529C19.095.891,19.129.855,19.146.838c1.119-1.116,2.937-1.116,4.052.002,1.114,1.117,1.114,2.936,0,4.052l-8.221,8.826c-.048.796-.348,1.545-.897,2.145-.661.723-1.603,1.138-2.582,1.138h-4c-.485,0-.928-.224-1.214-.612-.287-.39-.369-.879-.225-1.343.5-1.61,2.039-4.469,4.632-4.97.182-.035.366-.039.549-.046Zm1.19.15c.421.126.826.311,1.186.581.578.436.986,1.011,1.202,1.658l2.065-2.216c-.328-1.184-1.369-2.066-2.596-2.184-.655.763-1.291,1.502-1.857,2.161Zm1.557,3.09c-.06-.674-.405-1.281-.974-1.71-.613-.463-1.391-.647-2.133-.502-2.13.411-3.433,2.886-3.867,4.284-.049.157-.021.322.075.453.096.13.246.205.409.205h4c.7,0,1.372-.296,1.845-.812.479-.523.708-1.205.645-1.918Zm1.05-6.124c1.156.316,2.12,1.143,2.61,2.237l4.829-5.184c.737-.74.737-1.924.012-2.652-.727-.727-1.91-.728-2.637,0-.069.079-2.444,2.842-4.814,5.6Z" />
                </svg>
              </div>
              <h3 class="title">Website Maintenance & Optimization</h3>
              <div class="description">
                Keeping your website updated, secure, and optimized for performance to ensure continuous growth and reliability.

              </div>
            </div>
            <!-- /Service Box -->
          </div>
          <div class="col-lg-4">
            <!-- Service Box -->
            <div class="service-box-s1 wow fadeInLeft" data-wow-delay="0.4s">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="m24,8.5v7c0,2.481-2.019,4.5-4.5,4.5h-7v3h3.5c.276,0,.5.224.5.5s-.224.5-.5.5h-8c-.276,0-.5-.224-.5-.5s.224-.5.5-.5h3.5v-3h-7c-2.481,0-4.5-2.019-4.5-4.5V6.5C0,4.019,2.019,2,4.5,2h10c.276,0,.5.224.5.5s-.224.5-.5.5H4.5c-1.93,0-3.5,1.57-3.5,3.5v9c0,1.93,1.57,3.5,3.5,3.5h15c1.93,0,3.5-1.57,3.5-3.5v-7c0-.276.224-.5.5-.5s.5.224.5.5Zm-12.758,1.529C19.095.891,19.129.855,19.146.838c1.119-1.116,2.937-1.116,4.052.002,1.114,1.117,1.114,2.936,0,4.052l-8.221,8.826c-.048.796-.348,1.545-.897,2.145-.661.723-1.603,1.138-2.582,1.138h-4c-.485,0-.928-.224-1.214-.612-.287-.39-.369-.879-.225-1.343.5-1.61,2.039-4.469,4.632-4.97.182-.035.366-.039.549-.046Zm1.19.15c.421.126.826.311,1.186.581.578.436.986,1.011,1.202,1.658l2.065-2.216c-.328-1.184-1.369-2.066-2.596-2.184-.655.763-1.291,1.502-1.857,2.161Zm1.557,3.09c-.06-.674-.405-1.281-.974-1.71-.613-.463-1.391-.647-2.133-.502-2.13.411-3.433,2.886-3.867,4.284-.049.157-.021.322.075.453.096.13.246.205.409.205h4c.7,0,1.372-.296,1.845-.812.479-.523.708-1.205.645-1.918Zm1.05-6.124c1.156.316,2.12,1.143,2.61,2.237l4.829-5.184c.737-.74.737-1.924.012-2.652-.727-.727-1.91-.728-2.637,0-.069.079-2.444,2.842-4.814,5.6Z" />
                </svg>
              </div>
              <h3 class="title">Server Management</h3>
              <div class="description">Setting up, securing, and managing servers for optimal performance, including deployment, monitoring, backups, and scaling on platforms like AWS, DigitalOcean, and VPS environments.

              </div>
            </div>
            <!-- /Service Box -->
          </div>
          <div class="col-lg-4">
            <!-- Service Box -->
            <div class="service-box-s1 wow fadeInLeft" data-wow-delay="0.4s">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>

              </div>
              <h3 class="title">Scripting & Web Scraping</h3>
              <div class="description">
                Creating powerful custom scripts for automation, data extraction, and web scraping to collect and organize valuable information efficiently and securely.
              </div>
            </div>
            <!-- /Service Box -->
          </div>
        </div>
      </div>
    </section>
    <!-- /Service -->

    <!-- About -->
    <section class="page-section position-relative" id="about">
      <div class="bg-blurred-red"></div>
      <div class="bg-blurred-purple"></div>
      <div class="container position-relative">
        <!-- Section Title -->
        <div class="page-section-title row">
          <div class="col-lg-4">
            <h3 class="section-title-s3 stroke-text-bolder wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
              About Me</h3>
          </div>
          <div class="col-lg-8">
            <h2 class="section-title-s4 wow zoom-in" data-splitting="chars">Creating Digital Experiences</h2>
          </div>
        </div>
        <!-- /Section Title -->

        <div class="row">
          <!-- Image -->
          <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="img-wrap-s1">
              <div class="img-wrap-s1-inner">
                <div class="img-wrap-s1-circle wow fadeInRight"></div>
                <img src="/assets/images/image2.jpg" alt="" class="d-inline-block wow fadeScaleOutIn">
              </div>
            </div>
          </div>
          <!-- /Images -->

          <!-- Section Text -->
          <div class="col-lg-6 offset-lg-1 d-flex align-items-center">
            <div class="w-100">
              <p class="text-dark-2 fs-xl wow fadeScaleOutIn">
                Hi there! I'm Aminul Islam, a passionate full-stack developer specializing in building modern, user-friendly websites and web applications. I love blending creativity with technology to deliver solutions that are fast, secure, and visually impressive.
              </p>

              <!-- Features List -->
              <div class="row text-gray-1 mt-4">

                <!-- Features List Item -->
                <div class="feature-list col-sm-6 col-lg-12 col-xl-6 d-flex mb-4 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="feature-list-icon">
                    <i class="bi-check" aria-hidden="true"></i>
                  </div>
                  <div class="feature-list-text">
                    communication
                  </div>
                </div>
                <!-- /Features List Item -->

                <!-- Features List Item -->
                <div class="feature-list col-sm-6 col-lg-12 col-xl-6 d-flex mb-4 wow fadeInUp" data-wow-delay="0.4s">
                  <div class="feature-list-icon">
                    <i class="bi-check" aria-hidden="true"></i>
                  </div>
                  <div class="feature-list-text">
                    Scalable Solutions
                  </div>
                </div>
                <!-- /Features List Item -->

                <!-- Features List Item -->
                <div class="col-sm-6 col-lg-12 col-xl-6 d-flex mb-4 wow fadeInUp" data-wow-delay="0.6s">
                  <div class="feature-list-icon">
                    <i class="bi-check" aria-hidden="true"></i>
                  </div>
                  <div class="feature-list-text">
                    Clean & Efficient Code
                  </div>
                </div>
                <!-- /Features List Item -->

                <!-- Features List Item -->
                <div class="col-sm-6 col-lg-12 col-xl-6 d-flex mb-4 wow fadeInUp" data-wow-delay="0.8s">
                  <div class="feature-list-icon">
                    <i class="bi-check" aria-hidden="true"></i>
                  </div>
                  <div class="feature-list-text">
                    Effective Communication
                  </div>
                </div>
                <!-- /Features List Item -->

              </div>
              <!-- /Features List -->

              <!-- Link Resume -->
              <div class="mt-4 wow fadeInLeft" data-wow-delay="1s">
                <a href="#" class="btn btn-md">
                  Resume
                </a>
              </div>
              <!-- /Link Resume -->

            </div>
          </div>
          <!-- /Section Text -->
        </div>
      </div>
    </section>
    <!-- /About -->

    <!-- Marquee -->
    <div class="marquee-text mb-5r">
      <div class="marquee-text-track">
        <div class="marquee-text-content">
          <span>Web Developer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path id="Shape" class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
          <span class="stroke-text-bolder">Designer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
          <span>Web Developer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
          <span class="stroke-text-bolder">Designer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
        </div>
        <div class="marquee-text-content">
          <span>Web Developer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
          <span class="stroke-text-bolder">Designer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
          <span>Web Developer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
          <span class="stroke-text-bolder">Designer</span>
          <span class="decoration-shape-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
              <path class="cls-1" d="M900,4206h0c-7.653,0-15,7.5-15,15,0,0-.467,2-0.489,2-0.007,0-.492-2-0.511-2h0c0-7.5-7.347-15-15-15h0c-0.01,0-2-.49-2-0.5s1.994-.5,2-0.5h0c7.653,0,15-7.5,15-15,0-.01-0.025,0,0,0s0.5-2,.474-2c0,0,.526,2,0.526,2,0,7.5,7.347,15,15,15h0c0.009,0,2.011.51,2,.5C901.981,4205.48,900.009,4206,900,4206Z" transform="translate(-867 -4188)" />
            </svg>
          </span>
        </div>
      </div>
    </div>
    <!-- /Marquee -->

    <!-- Resume -->
    <section class="page-section position-relative">
      <div class="bg-blurred-red"></div>
      <div class="container position-relative">
        <!-- Section Title -->
        <div class="page-section-title row">
          <div class="col-lg-8 offset-lg-3">
            <h3 class="section-title-s1">
              <span class="line-left wow slideInLeft d-inline-block">My Education</span>
              <span class="d-inline-block wow fadeInUp" data-wow-delay="1s">
                and
                <span class="text-gray-3">
                  Work
                </span>
              </span>
              <span class="line-right d-inline-block wow slideInRight text-gray-3" data-wow-delay="1.5s">Experience</span>
            </h3>
          </div>
        </div>
        <!-- /Section Title -->

        <!-- Experiences -->
        <div class="row position-relative">
          <div class="bg-blurred-purple"></div>
          <div class="col-lg-8 offset-lg-2">
            <div class="experiences-container">
              <!-- Experience Item -->
              <div class="experience-card-s1 row row-cols-lg-2">
                <div class="text-lg-end wow fadeInLeft">
                  <div class="experience-card-s1__icon d-inline-flex">
                    <img src="/images/Only_Logo_Color_1.png" alt="" height="40" width="40" class="">

                  </div>
                  <div class="experience-card-s1__org">Pixmatech Ltd</div>
                  <div class="experience-card-s1__duration">DEC 2024 - Presents</div>
                </div>
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="experience-card-s1__title">Full Stack Developer</div>
                  <div class="experience-card-s1__desc">• Built 12+ websites (e-commerce, agency portals) using Nextjs/Vue.js & Node.js/NestJs.
                    • Developed email systems handling 10K+/hour with 98% validation accuracy
                  </div>
                </div>
              </div>
              <!-- /Experience Item -->

              <!-- Experience Item -->
              <div class="experience-card-s1 row row-cols-lg-2">
                <div class="order-lg-2 wow fadeInLeft">
                  <div class="experience-card-s1__icon d-inline-flex">
                    <img src="/images/logo.png" alt="" height="40" width="40" class="">

                  </div>
                  <div class="experience-card-s1__org">Mediacom Limited (Square Group)</div>
                  <div class="experience-card-s1__duration">Nov 2018 - Oct 2024</div>
                </div>
                <div class="text-lg-end wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="experience-card-s1__title">IT Administrator & Full Stack Developer</div>
                  <div class="experience-card-s1__desc">• Managed IT infrastructure (Windows/Linux) ensuring 99.95% uptime for 150+ users.
                    • Migrated email systems to Microsoft 365, cutting spam by 85% and support tickets by 60% 50TB+ storage systems,
                    achieving 100% data integrity and $8K annual savings.
                  </div>
                </div>
              </div>
              <!-- /Experience Item -->
              <!-- Experience Item -->
              <div class="experience-card-s1 row row-cols-lg-2">
                <div class="text-lg-end wow fadeInLeft">
                  <div class="experience-card-s1__icon d-inline-flex">
                    <img src="/images/zb.png" alt="" height="40" width="40" class="">

                  </div>
                  <div class="experience-card-s1__org">Z-Back System</div>
                  <div class="experience-card-s1__duration">Aug 2017 - Aug 2019</div>
                </div>
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="experience-card-s1__title">Back End Developer</div>
                  <div class="experience-card-s1__desc">• Built high-performance email platform (Postfix/Node.js) handling 50K+ daily emails with 99.8% deliverability.
                    • Created admin dashboard (React) reducing IT workload by 40% through self-service tools.
                  </div>
                </div>
              </div>
              <!-- /Experience Item -->

              <!-- Experience Item -->
              <div class="experience-card-s1 row row-cols-lg-2">
                <div class="order-lg-2 wow fadeInLeft">
                  <div class="experience-card-s1__icon d-inline-flex">
                    <i class="bi bi-mortarboard-fill"></i>
                  </div>
                  <div class="experience-card-s1__org">sonargaon university</div>
                  <div class="experience-card-s1__duration">Feb 2019 - Dec 2023</div>
                </div>
                <div class="text-lg-end wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="experience-card-s1__title">B.E. in Computer Science and Engineering </div>
                  <div class="experience-card-s1__desc">Data Structures & Algorithms, Database Management Systems, Operating Systems, Web Development, Computer Networks, Software Engineering, Cloud Computing
                  </div>
                </div>
              </div>
              <!-- /Experience Item -->
              <!-- Experience Item -->
              <div class="experience-card-s1 row row-cols-lg-2">
                <div class="text-lg-end wow fadeInLeft">
                  <div class="experience-card-s1__icon d-inline-flex">
                    <i class="bi bi-mortarboard-fill"></i>
                  </div>
                  <div class="experience-card-s1__org">Instructor: Md Arif Hossain</div>
                  <div class="experience-card-s1__duration">6-Month Course -2020</div>
                </div>
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="experience-card-s1__title">IT Course</div>
                  <div class="experience-card-s1__desc">Practical training in IT fundamentals, networking, and system management.
                    Hands-on projects and real-world skill development.
                  </div>
                </div>
              </div>
              <!-- /Experience Item -->
            </div>
          </div>
        </div>
        <!-- /Experiences -->





        <!-- My Skills -->
        <div class="row">
          <div class="col-lg-12 position-relative">
            <h3 class="section-title-s5 stroke-text-bolder wow zoom-in text-lg-end" data-splitting="chars" style="--char-animate-duration: 1.25s; --char-animate-delay: 0.15s">
              Skills That Make a Difference</h3>
          </div>

          <!-- Experiences -->
          <div class="row position-relative">
            <div class="bg-blurred-purple"></div>
            <div class="col-lg-8 offset-lg-2">
              <div class="experiences-container">
                <!-- Experience Item -->
                <div class="experience-card-s1 row row-cols-lg-2">
                  <div class="text-lg-end wow fadeInLeft">

                    <div class="experience-card-s1__org">Web Development</div>
                    <div class="experience-card-s1__duration">Full-stack development, RESTful API design, Responsive Web Design, Front-end frameworks (React, Vue.js), Back-end frameworks (Node.js, Express.js, Laravel)
                    </div>
                  </div>
                  <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="experience-card-s1__title">Programming Languages</div>
                    <div class="experience-card-s1__desc"> JavaScript (Node.js, Express.js), Python, HTML5, CSS3, PHP, SQL, Bash

                    </div>
                  </div>
                </div>
                <!-- /Experience Item -->

                <!-- Experience Item -->
                <div class="experience-card-s1 row row-cols-lg-2">
                  <div class="order-lg-2 wow fadeInLeft">

                    <div class="experience-card-s1__org">Version Control</div>
                    <div class="experience-card-s1__duration">Git, GitHub, GitLab</div>
                  </div>
                  <div class="text-lg-end wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="experience-card-s1__title">Database Management
                    </div>
                    <div class="experience-card-s1__desc">MySQL, PostgreSQL, MongoDB

                    </div>
                  </div>
                </div>
                <!-- /Experience Item -->
                <!-- Experience Item -->
                <div class="experience-card-s1 row row-cols-lg-2">
                  <div class="text-lg-end wow fadeInLeft">

                    <div class="experience-card-s1__org">Email Systems
                    </div>
                    <div class="experience-card-s1__duration">SMTP, IMAP, DKIM/SPF/DMARC, Email deliverability, IP Rotation, Bounce Management
                    </div>
                  </div>
                  <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="experience-card-s1__title">Cloud Platforms
                    </div>
                    <div class="experience-card-s1__desc">AWS, Google Cloud, DigitalOcean

                    </div>
                  </div>
                </div>
                <!-- /Experience Item -->

                <!-- Experience Item -->
                <div class="experience-card-s1 row row-cols-lg-2">

                  <div class="text-lg-end wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="experience-card-s1__title">Operating Systems</div>
                    <div class="experience-card-s1__desc">Linux (Ubuntu, CentOS), Windows Server, macOS
                    </div>
                  </div>
                </div>
                <!-- /Experience Item -->
                <!-- Experience Item -->

                <!-- /Experience Item -->
              </div>
            </div>
          </div>
        </div>
        <!-- /My Skills -->
      </div>
    </section>
    <!-- /Resume -->

    <!-- Portfolio -->
    <section class="page-section position-relative" id="portfolio">
      <div class="bg-blurred-red"></div>
      <div class="container">
        <!-- Section Title -->
        <div class="page-section-title row">
          <div class="col-lg-4">
            <h3 class="section-title-s3 stroke-text-bolder wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
              Portfolio</h3>
          </div>
          <div class="col-lg-8">
            <h2 class="section-title-s4 wow zoom-in" data-splitting="chars">Where Creativity Meets Practicality</h2>
          </div>
        </div>
        <!-- /Section Title -->




        <div class="row portfolio-layout-s1">


          <div class="col-lg-4 mb-4">
            <div class="project-box">
              <div class="project-box-container">
                <div class="open-modal" data-project="/watchshop.jpg">
                  <img src="/images/Watchshop_BD_cover_1e0519e006.webp" alt="Project 1" class="img-fluid">
                  <div class="content-overlay">
                    <div>
                      <div class="project-title">Landing Page</div>
                      <div class="project-description">Click to View</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="project-box">
              <div class="project-box-container">
                <div class="open-modal" data-project="/watchshop.jpg">
                  <img src="/images/Watchshop_BD_cover_1e0519e006.webp" alt="Project 1" class="img-fluid">
                  <div class="content-overlay">
                    <div>
                      <div class="project-title">Landing Page</div>
                      <div class="project-description">Click to View</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="project-box">
              <div class="project-box-container">
                <div class="open-modal" data-project="/watchshop.jpg">
                  <img src="/images/Watchshop_BD_cover_1e0519e006.webp" alt="Project 1" class="img-fluid">
                  <div class="content-overlay">
                    <div>
                      <div class="project-title">Landing Page</div>
                      <div class="project-description">Click to View</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="project-box">
              <div class="project-box-container">
                <div class="open-modal" data-project="/watchshop.jpg">
                  <img src="/images/Watchshop_BD_cover_1e0519e006.webp" alt="Project 1" class="img-fluid">
                  <div class="content-overlay">
                    <div>
                      <div class="project-title">Landing Page</div>
                      <div class="project-description">Click to View</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- /Portfolio -->

    <!-- Testimonial -->
    <section class="page-section position-relative">
      <div class="bg-blurred-red"></div>
      <div class="container position-relative">

        <!-- Section Title -->
        <div class="page-section-title row">
          <div class="col-lg-6">
            <h3 class="section-title-s3 stroke-text-bolder wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              Testimonials</h3>
          </div>
          <div class="col-lg-6">
            <h2 class="section-title-s4 wow zoom-in" data-splitting="chars">What My Clients Say</h2>
          </div>
        </div>
        <!-- /Section Title -->


        <!-- Testimonials -->
        <div class="testimonial-slider swiper">
          <div class="swiper-wrapper">
            <!-- Testimonial item -->

            <% testimonials.forEach(testimonial => { %>

            <div class="swiper-slide">
              <div class="testimonial-card-s1">
                <div class="testimonial-card-s1__client">
                  <div class="text-center mb-1r">
                    <div class="testimonial-card-s1__client-img">
                      <img width="44" height="44" src="<%=testimonial.image  %>" alt="Image description is here">
                    </div>
                    <div class="testimonial-card-s1__client-name">
                      <%=testimonial.name  %>
                    </div>
                    <div class="testimonial-card-s1__client-occ">
                      <%=testimonial.position  %>
                    </div>
                  </div>
                </div>
                <blockquote class="testimonial-card-s1__text">
                  <p>
                    <%=testimonial.testimonial  %>
                  </p>
                </blockquote>
              </div>
            </div>
            <!-- /Testimonial item -->
            <% }) %>

          </div>
          <div class="d-flex justify-content-between align-items-center mt-5">
            <div class="testimonial-slider-nav d-flex w-100 gap-3">
              <button class="nav-prev">
                <i class="bi-chevron-left"></i>
              </button>
              <button class="nav-next">
                <i class="bi-chevron-right"></i>
              </button>
            </div>
            <div class="swiper-testimonial-pagination text-end"></div>
          </div>
        </div>
        <!-- /Testimonials -->
      </div>
    </section>
    <!-- /Testimonial -->



    <!-- Contact -->
    <section class="page-section position-relative" id="contact">
      <div class="bg-blurred-red-1"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <!-- Section Title -->
            <h2 class="section-title-s1 wow fadeScaleOutIn">Let's <br><span class="ps-5">Get</span><br> In Touch</h2>
            <!-- /Section Title -->

            <div class="mt-5">
              <!-- Email -->
              <div class="contact-item wow fadeInLeft mb-24" data-wow-delay="0.2s">
                <div class="ci-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512">
                    <path d="M1.225,8.467C1.331,8.344,8.48,1.449,8.48,1.449a5.026,5.026,0,0,1,7.055.015s7.134,6.88,7.239,7l-8.653,8.654a3.074,3.074,0,0,1-4.242,0Zm14.31,10.069a5.024,5.024,0,0,1-7.07,0L.229,10.3A4.962,4.962,0,0,0,0,11.708V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V11.708a4.962,4.962,0,0,0-.229-1.408Z" />
                  </svg>
                </div>
                <div class="ci-text">
                  <div class="ci-text-title">E-mail</div>
                  <div class="ci-text-detail">mdaminulislamdev23@gmail.com</div>
                </div>
              </div>
              <!-- /Email -->

              <!-- Phone -->
              <div class="contact-item wow fadeInLeft mb-24" data-wow-delay="0.3s">
                <div class="ci-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512">
                    <path d="M23,11a1,1,0,0,1-1-1,8.008,8.008,0,0,0-8-8,1,1,0,0,1,0-2A10.011,10.011,0,0,1,24,10,1,1,0,0,1,23,11Zm-3-1a6,6,0,0,0-6-6,1,1,0,1,0,0,2,4,4,0,0,1,4,4,1,1,0,0,0,2,0Zm2.183,12.164.91-1.049a3.1,3.1,0,0,0,0-4.377c-.031-.031-2.437-1.882-2.437-1.882a3.1,3.1,0,0,0-4.281.006l-1.906,1.606A12.784,12.784,0,0,1,7.537,9.524l1.6-1.9a3.1,3.1,0,0,0,.007-4.282S7.291.939,7.26.908A3.082,3.082,0,0,0,2.934.862l-1.15,1C-5.01,9.744,9.62,24.261,17.762,24A6.155,6.155,0,0,0,22.183,22.164Z" />
                  </svg>
                </div>
                <div class="ci-text">
                  <div class="ci-text-title">Phone</div>
                  <div class="ci-text-detail">+880 172 319 8875</div>
                </div>
              </div>
              <!-- /Phone -->

              <!-- Address -->
              <div class="contact-item wow fadeInLeft" data-wow-delay="0.4s">
                <div class="ci-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" width="512" height="512">
                    <path d="M12,.042a9.992,9.992,0,0,0-9.981,9.98c0,2.57,1.99,6.592,5.915,11.954a5.034,5.034,0,0,0,8.132,0c3.925-5.362,5.915-9.384,5.915-11.954A9.992,9.992,0,0,0,12,.042ZM12,14a4,4,0,1,1,4-4A4,4,0,0,1,12,14Z" />
                  </svg>
                </div>
                <div class="ci-text">
                  <div class="ci-text-title">Location</div>
                  <div class="ci-text-detail">
                    Dhaka,Bangladesh
                  </div>
                </div>
              </div>
              <!-- /Address -->
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Contact Form -->
            <div class="form-action-message mb-4">
              <div class="success-message d-none">Thank you! Your Message has been sent.</div>
              <div class="error-message d-none">Something went wrong, Please try again!</div>
            </div>
            <form class="form contact-form wow fadeScaleOutIn" id="contactForm" method="post" action="/contact">

              <div class="row">
                <div class="col-md-6">

                  <!-- Name -->
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="input-lg round form-control" placeholder="Enter your name" pattern=".{3,100}" required aria-required="true">
                  </div>
                  <!-- /Name -->

                </div>

                <div class="col-md-6">

                  <!-- Email -->
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="input-lg round form-control" placeholder="Enter your email" pattern=".{5,100}" required aria-required="true">
                  </div>
                  <!-- /Email -->

                </div>
              </div>

              <!-- Message -->
              <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" class="input-lg round form-control" style="height: 130px;" placeholder="Enter your message"></textarea>
              </div>

              <div class="row">
                <div class="col-md-6 col-xl-5">

                  <!-- Send Button -->
                  <div class="pt-3">
                    <button class="submit_btn btn btn-md btn-hvr-slide" id="submit_btn" aria-controls="result">
                      <span class="btn-content">Send Message</span>
                    </button>
                  </div>
                  <!-- /Send Button -->

                </div>
              </div>

              <div id="result" role="region" aria-live="polite" aria-atomic="true"></div>

            </form>
            <!-- /Contact Form -->
          </div>
        </div>

      </div>
    </section>
    <!-- /Contact -->
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <!-- Footer Copyright -->
        <div class="col-lg-5 mb-4 mb-lg-0 text-center text-lg-start">
          <span class="text-gray-2 d-inline-block wow fadeInLeft" data-wow-offset="20">©
            Aminul Islam 2025 | All Rights
            Reserved</span>
        </div>
        <!-- /Footer Copyright -->

        <!-- Social Media -->
        <div class="col-lg-7">
          <div class="social-media wow fadeInLeft" data-wow-offset="20">
            <a href="https://www.facebook.com/aimehedi75/">
              <span class="visually-hidden">Facebook</span>
              <i class="bi-facebook"></i>
            </a>
            <a href="https://github.com/ai-mehedi">
              <span class="visually-hidden">GitHub</span>
              <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/mdaminulislam8875/">
              <span class="visually-hidden">Linkedin</span>
              <i class="bi-linkedin"></i>
            </a>

          </div>
        </div>
        <!-- /Social Media -->

      </div>

    </div>
  </footer>
  <!-- /Footer -->

  <!-- Preloader -->
  <div class="preloader">
    <div class="ripple">
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- /Preloader -->

  <!-- CURSOR -->
  <div class="mouse-cursor cursor-outer"></div>
  <div class="mouse-cursor cursor-inner"></div>
  <!-- /CURSOR -->

  <!-- Back to top -->
  <div class="back-to-top-wrapper">
    <a href="#Home" class="back-to-top">
      <span class="visually-hidden">Back to top</span>
      <i class="bi bi-arrow-up-short"></i>
      <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
      </div>
    </a>
  </div>
  <!-- /Back to top -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <script>
    document.getElementById('downloadCvBtn').addEventListener('click', function() {
      const link = document.createElement('a');
      link.href = '/download-cv';
      link.download = 'MD_AMINUL_ISLAM.pdf'; // Optional: browser might ignore it for route downloads
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    });
  </script>
  <!-- SCRIPTS -->

  <script>
    $(document).ready(function() {
      $('#contactForm').submit(function(e) {
        e.preventDefault(); // Stop normal form submission

        $.ajax({
          type: 'POST',
          url: '/contact',
          data: $(this).serialize(), // Serialize form data
          success: function(response) {
            $('#result').html(`
              <div class="alert alert-success mt-3" role="alert">
                Message sent successfully! We'll contact you as soon as possible.
              </div>
            `);
            $('#contactForm')[0].reset(); // Reset the form fields
          },
          error: function(error) {
            $('#result').html(`
              <div class="alert alert-danger mt-3" role="alert">
                Oops! Something went wrong. Please try again later.
              </div>
            `);
          }
        });
      });
    });
  </script>

  <div id="projectModal" class="modal">
    <div class="modal-content">
      <span class="close-modal">&times;</span>
      <div id="projectImages" class="mt-5"></div> <!-- margin top to avoid close button overlap -->
    </div>
  </div>
  <script>
    $(document).ready(function() {
      // Open modal
      $('.open-modal').click(function() {
        var projectImage = $(this).data('project');
        $('#projectImages').html('<img src="' + projectImage + '" alt="Project Image">');
        $('#projectModal').fadeIn();
        $('body').addClass('modal-open'); // Add class to block background scroll

      });

      // Close modal
      $('.close-modal').click(function() {
        $('#projectModal').fadeOut();
        $('body').addClass('modal-open'); // Add class to block background scroll

      });

      // Close modal when clicking outside content
      $(window).click(function(event) {
        if ($(event.target).is('#projectModal')) {
          $('#projectModal').fadeOut();
          $('body').removeClass('modal-open'); // Remove class here too

        }
      });
    });
  </script>


  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>
  <!-- /SCRIPTS -->
</body>


<!-- Mirrored from demo.ajufbox.com/leon/home-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Apr 2025 17:03:46 GMT -->

</html>